
/* ES00 Introduction, slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    margin-top: 250px;
}

#title h2 {
    text-align:right;
    padding-top:50px;
    padding-right:40px;
}


.what {
    width:400px;
}

.what p {
    text-indent:0px;
}

#whatis {
    width:600px;
}

#charactersistics {
    width:600px;
}

#charactersistics2 {
    width:600px;
}

/* Intermediate overview slides leave past slides transparent
 * and turn future slides opaque. The only problem is that
 * ImpressJS marks slides as past iff the transition to them
 * has completed, which means that out of order or fast traversals
 * have patchy results */
#over1 {display:none;}
.impress-on-over1 .future{
    @include opacity(1.0);
    cursor: pointer;
}
