
/* ES03 Recap, slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    padding-top:30px;
}

#title h2 {
    text-align:left;
    padding-right:30px;
}

#title #say {
    margin-top: 150px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title #say2 {
    margin-top: 20px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#m-cache {
    background: $highlight;
    color: rgba(0,0,0,0.8);
}


.impress-on-write1 #write { @include opacity(1.0) }
.impress-on-write2 #write { @include opacity(1.0) }

