
/* ES05 slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    padding-top:40px;
}

#title h2 {
    text-align:left;
    padding-right:50px;
}

#title #say {
    margin-top: 150px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title #say2 {
    margin-top: 40px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title .linkbox {
    margin-top:100px;
}


@each $i in (1, 2, 3) {
    #pes#{$i} { padding-top:500px; width: 400px; }
    .impress-on-pes#{$i} #pe { @include opacity(1.0) }
}

@each $step in (bm, cyc, rte, os) {
    .impress-on-#{$step} #env { @include opacity(1.0) }
}



