
/* ES05-3 slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    padding-top:40px;
}

#title h2 {
    text-align:left;
    padding-right:50px;
    padding-top:50px;
}

#title #say {
    margin-top: 150px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title #say2 {
    margin-top: 40px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#cs1 { font-size: 36px; }

#cs1l {
    text-align:right;
    padding-right:40px;
}

#pipe1, #skt1, #sig1, #shm1 { width: 700px; }

#pipetbl { margin: 50px 0; }
td { padding-left: 20px; }
