
/* ES01 Recap, slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    padding-top:50px;
}

#title h2 {
    text-align:left;
    padding-right:40px;
    margin-top: 200px;
}


