
/* ES06 slide specific styling */
@import 'compass/css3/opacity';

@import 'anu-impress';
@import 'embedded-systems';

#title h1 {
    padding-top:80px;
}

#title #say {
    margin-top: 150px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title #say2 {
    margin-top: 40px;
    text-align:right;
    font-size:10px;
    text-shadow:none;
    color: rgba(0,0,0,0.3);
    letter-spacing:initial;
}

#title .linkbox {
    margin-top:130px;
}

#cat td {
    padding: 5px 20px;
}

#mem td {
    padding: 2px 20px;
}

#mem th {
    color: $highlight;
    font-weight: bold;
    border-bottom: 1px solid $highlight;
}

#mem .g { background-color: green; }
#mem .b { background-color: orange; }
#mem .vb { background-color: red; }
