/* ES00 Introduction, slide specific styling */
p#bracket {
  font-size: 192px; }

/* Intermediate overview slides leave past slides transparent
 * and turn future slides opaque. The only problem is that
 * ImpressJS marks slides as past iff the transition to them
 * has completed, which means that out of order or fast traversals
 * have patchy results */
#over1 {
  display: none; }

.impress-on-over1 .future {
  opacity: 1.0;
  cursor: pointer; }
